<li class="col-sm-3 col-xs-12">
  <ul class="list-unstyled">
    <li>
      <%= link_to potepan_category_path(taxonomy.id) do %>
        <%= taxonomy.name %>
      <% end %>
      <ul class="list-unstyled">
        <li>
          <% taxonomy.taxons.leaves.each do |taxon| %>
            <%= link_to potepan_category_path(taxon.id) do %>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <%= taxon.name %><span>(<%= taxon.products.count %>)</span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</li>
