<!DOCTYPE html>
<html>

  <head>
    <!-- SITE TITTLE -->
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="main-wrapper">
      <div class="header clearfix">
        <!-- TOPBAR -->
        <div class="topBar">
          <div class="container">
            <div class="row">
              <div class="col-md-6 hidden-sm hidden-xs">
                <ul class="list-inline">
                  <li>
                    <%= link_to 'https://twitter.com/?lang=ja' do %>
                      <i class="fa fa-twitter"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://ja-jp.facebook.com/' do %>
                      <i class="fa fa-facebook"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://dribbble.com/' do %>
                      <i class="fa fa-dribbble"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://vimeo.com/jp' do %>
                      <i class="fa fa-vimeo"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to 'https://www.tumblr.com/' do %>
                      <i class="fa fa-tumblr"></i>
                    <% end %>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 col-xs-12">
                <ul class="list-inline pull-right">
                  <li><span><a data-toggle="modal" href='#login'>Log in</a><small>or</small><a data-toggle="modal" href='#signup'>Create
                        an account</a></span></li>
                  <li class="dropdown searchBox">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <span class="input-group">
                          <input type="text" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                          <span class="input-group-addon" id="basic-addon2">Search</span>
                        </span>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i>$0</a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>Item(s) in your cart</li>
                      <li>
                        <a href="#">
                          <div class="media">
                            <%= image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image") %>
                            <div class="media-body">
                              <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="media">
                            <%= image_tag("img/home/cart-items/cart-item-01.jpg", :class => "media-left media-object", :alt => "cart-Image") %>
                            <div class="media-body">
                              <h5 class="media-heading">INCIDIDUNT UT <br><span>2 X $199</span></h5>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <div class="btn-group" role="group" aria-label="...">
                          <button type="button" class="btn btn-default">Shopping Cart</button>
                          <button type="button" class="btn btn-default">Checkout</button>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- NAVBAR -->
        <nav class="navbar navbar-main navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="javascript:void(0)">
                <%= image_tag("logo.png") %></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="javascript:void(0)">Home</a></li>
                <li class="dropdown megaDropMenu">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                    data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
                  <ul class="dropdown-menu row">
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li>
                          <%= link_to "CATEGORIES", "/potepan/categories/1" %>
                        </li>
                        <li>
                          <%= link_to "Bags", "/potepan/categories/3" %>
                        </li>
                        <li>
                          <%= link_to "Mugs", "/potepan/categories/4" %>
                        </li>
                        <li>
                          <%= link_to "Clothing", "/potepan/categories/5" %>
                        </li>
                        <li>
                          <%= link_to "Shirt", "/potepan/categories/6" %>
                        </li>
                        <li>
                          <%= link_to "T-Shirt", "/potepan/categories/7" %>
                        </li>
                      </ul>
                    </li>
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li class="listHeading">
                          <%= link_to "BRAND", "/potepan/categories/2" %>
                        </li>
                        <li>
                          <%= link_to "Ruby", "/potepan/categories/8" %>
                        </li>
                        <li>
                          <%= link_to "Apache", "/potepan/categories/9" %>
                        </li>
                        <li>
                          <%= link_to "Rails", "/potepan/categories/10" %>
                        </li>
                      </ul>
                    </li>
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li>色から探す</li>
                        <li><a href="product_grid_left_sidebar.html">ブラック</a></li>
                        <li><a href="product_grid_left_sidebar.html">ホワイト</a></li>
                        <li><a href="product_grid_left_sidebar.html">レッド</a></li>
                        <li><a href="product_grid_left_sidebar.html">ブルー</a></li>
                        <li><a href="product_grid_left_sidebar.html">オレンジ</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li>サイズから探す</li>
                        <li><a href="product_grid_left_sidebar.html">S</a></li>
                        <li><a href="product_grid_left_sidebar.html">M</a></li>
                        <li><a href="product_grid_left_sidebar.html">L</a></li>
                        <li><a href="product_grid_left_sidebar.html">XL</a></li>
                      </ul>
                      <!--   <a href="#" class="menu-photo"><img src="img/menu-photo.jpg" alt="menu-img"></a> -->
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">About US</a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="about_us.html">About Us</a></li>
                    <!-- <li><a href="signup.html">Register</a></li>
                    <li><a href="signup-login.html">Register or Login</a></li>
                    <li><a href="login.html">Login</a></li> -->
                    <!-- <li><a href="lost-password.html">Password Recovery</a></li> -->
                    <li><a href="privacy_policy.html">Privacy Policy</a></li>
                    <!-- <li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li> -->
                    <!-- <li><a href="404.html">404 Not Found</a></li> -->
                    <!--<li><a href="coming-soon.html">Coming Soon</a></li>-->
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false">blog</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <!-- <li><a href="blog-right-sidebar.html">Right Sidebar</a></li> -->
                    <li><a href="blog_left_sidebar.html">Left Sidebar</a></li>
                    <!-- <li><a href="blog-fullwidth.html">Full Width</a></li>
                    <li><a href="blog-single-fullwidth.html">Single Post</a></li>
                    <li><a href="blog-single-right-sidebar.html">Single Right Sidebar</a></li> -->
                    <li><a href="blog_single_left_sidebar.html">Single Left Sidebar</a></li>
                  </ul>
                </li>
                <!--  <li class="dropdown">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="account-dashboard.html">Dashboard</a></li>
                    <li><a href="account-profile.html">Profile</a></li>
                    <li><a href="account-all-orders.html">All Orders</a></li>
                    <li><a href="account-single-order.html">Single Order</a></li>
                    <li><a href="account-wishlist.html">Wishlist</a></li>
                    <li><a href="account-address.html">Address</a></li>
                  </ul>
                </li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div>
        </nav>
      </div>
      <!-- BANNER -->
      <div class="bannercontainer">
        <div class="fullscreenbanner-container">
          <div class="fullscreenbanner">
            <ul>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
                <div class="slider-caption container">
                  <div class="tp-caption rs-caption-1 sft start" data-hoffset="0" data-x="370" data-y="54" data-speed="800"
                    data-start="1500" data-easing="Back.easeInOut" data-endspeed="300">
                    <%= image_tag("home/banner-slider/shoe1.png", :alt => "slider-image") %>
                  </div>

                  <div class="tp-caption rs-caption-2 sft" data-hoffset="0" data-y="119" data-speed="800" data-start="2000"
                    data-easing="Back.easeInOut" data-endspeed="300">
                    Canvas Sneaker
                  </div>

                  <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-y="185" data-speed="1000" data-start="3000"
                    data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                    Exclusive to <br>
                    BigBag <br>
                    <small>Spring / Summer 2020</small>
                  </div>
                  <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-y="320" data-speed="800" data-start="3500"
                    data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off">
                    <span class="page-scroll"><a href="single_product.html" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span>
                  </div>
                </div>
              </li>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
                <div class="slider-caption container captionCenter">
                  <div class="tp-caption rs-caption-1 sft start captionCenterAlign" data-x="center" data-y="228"
                    data-speed="800" data-start="1500" data-easing="Back.easeInOut" data-endspeed="300">
                    <%= image_tag("home/banner-slider/shoe2.png", :alt => "slider-image") %>
                  </div>

                  <div class="tp-caption rs-caption-2 sft captionCenterAlign" data-x="center" data-y="50" data-speed="800"
                    data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                    Exclusive to BigBag
                  </div>

                  <div class="tp-caption rs-caption-3 sft captionCenterAlign" data-x="center" data-y="98" data-speed="1000"
                    data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    Canvas Sneaker
                  </div>

                  <div class="tp-caption rs-caption-4 sft captionCenterAlign" data-x="center" data-y="156" data-speed="800"
                    data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    <span class="page-scroll"><a href="single_product.html" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span>
                  </div>
                </div>
              </li>
              <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700" data-title="Slide 3">
                <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
                <div class="slider-caption container">
                  <div class="tp-caption rs-caption-1 sft start" data-hoffset="0" data-x="0" data-y="85" data-speed="800"
                    data-start="1500" data-easing="Back.easeInOut" data-endspeed="300">
                    <%= image_tag("home/banner-slider/shoe3.png", :alt => "slider-image") %>
                  </div>

                  <div class="tp-caption rs-caption-2 sft " data-hoffset="0" data-y="119" data-x="800" data-speed="800"
                    data-start="2000" data-easing="Back.easeInOut" data-endspeed="300">
                    Canvas Sneaker
                  </div>

                  <div class="tp-caption rs-caption-3 sft" data-hoffset="0" data-y="185" data-x="800" data-speed="1000"
                    data-start="3000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    Exclusive to <br>
                    BigBag <br>
                    <small>Spring / Summer 2020</small>
                  </div>

                  <div class="tp-caption rs-caption-4 sft" data-hoffset="0" data-y="320" data-x="800" data-speed="800"
                    data-start="3500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn"
                    data-captionhidden="off">
                    <span class="page-scroll"><a href="single_product.html" class="btn primary-btn">Buy Now<i class="glyphicon glyphicon-chevron-right"></i></a></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix">
        <div class="container">
          <div class="row featuredCollection">
            <div class="col-xs-12">
              <div class="page-header">
                <h4>人気カテゴリー</h4>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="thumbnail" onclick="location.href='single_product.html';">
                <div class="imageWrapper">
                  <%= image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image") %>
                  <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Shirts</a></div>
                </div>
                <div class="caption">
                  <h4>Shirts</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="thumbnail" onclick="location.href='single_product.html';">
                <div class="imageWrapper">
                  <%= image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image") %>
                  <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Bags</a></div>
                </div>
                <div class="caption">
                  <h4>Bags</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="thumbnail" onclick="location.href='single_product.html';">
                <div class="imageWrapper">
                  <%= image_tag("home/featured-collection/featured-collection-03.jpg", :alt => "feature-collection-image") %>
                  <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Lifestyle</a></div>
                </div>
                <div class="caption">
                  <h4>Lifestyle</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row featuredProducts">
            <div class="col-xs-12">
              <div class="page-header">
                <h4>新着商品</h4>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="owl-carousel featuredProductsSlider">
                <div class="slide">
                  <div class="productImage clearfix">
                    <%= image_tag("home/featured-product/product-01.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption clearfix">
                    <a href="single_product.html">
                      <h5>Mauris efficitur</h5>
                    </a>
                    <h3>199円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-02.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>Nulla facilisi</h5>
                    </a>
                    <h3>149円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-03.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>Praesent dui felis</h5>
                    </a>
                    <h3>79円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-04.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>Cras eu faucibus</h5>
                    </a>
                    <h3>109円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-05.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>Mauris lobortis augue</h5>
                    </a>
                    <h3>199円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-06.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>Suspendisse suscipit</h5>
                    </a>
                    <h3>149円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-07.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>Praesent a augue</h5>
                    </a>
                    <h3>79円</h3>
                  </div>
                </div>
                <div class="slide">
                  <div class="productImage">
                    <%= image_tag("home/featured-product/product-09.jpg", :alt => "featured-product-img") %>
                    <div class="productMasking">
                      <ul class="list-inline btn-group" role="group">
                        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
                        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
                        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="productCaption">
                    <a href="single_product.html">
                      <h5>Cras vel augue</h5>
                    </a>
                    <h3>109円</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row latestArticles">
            <div class="col-xs-12">
              <div class="page-header">
                <h4>お役立ち記事</h4>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
                <span class="meta">2016/9/16</span>
                <a href="blog_single_left_sidebar.html">
                  <%= image_tag("home/articles/articles-01.jpg", :alt => "article-image") %></a>
                <div class="caption">
                  <p>記事本文（100文字）</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
                <span class="meta">2016/9/16</span>
                <a href="blog_single_left_sidebar.html">
                  <%= image_tag("home/articles/articles-02.jpg", :alt => "article-image") %></a>
                <div class="caption">
                  <p>記事本文（100文字）</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
                <span class="meta">2016/9/16</span>
                <a href="blog_single_left_sidebar.html">
                  <%= image_tag("home/articles/articles-03.jpg", :alt => "article-image") %></a>
                <div class="caption">
                  <p>記事本文（100文字）</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="thumbnail">
                <h5><a href="blog_single_left_sidebar.html">記事タイトル</a></h5>
                <span class="meta">2016/9/16</span>
                <a href="blog_single_left_sidebar.html">
                  <%= image_tag("home/articles/articles-04.jpg", :alt => "article-image") %></a>
                <div class="caption">
                  <p>記事本文（100文字）</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- LIGHT SECTION -->
      <section class="lightSection clearfix">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="owl-carousel partnersLogoSlider">
                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <%= image_tag("home/partners/partner-01.png", :alt => "partner-img") %>
                  </div>
                </div>
                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <%= image_tag("home/partners/partner-02.png", :alt => "partner-img") %>
                  </div>
                </div>
                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <%= image_tag("home/partners/partner-03.png", :alt => "partner-img") %>
                  </div>
                </div>
                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <%= image_tag("home/partners/partner-04.png", :alt => "partner-img") %>
                  </div>
                </div>
                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <%= image_tag("home/partners/partner-05.png", :alt => "partner-img") %>
                  </div>
                </div>
                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <%= image_tag("home/partners/partner-01.png", :alt => "partner-img") %>
                  </div>
                </div>
                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <%= image_tag("home/partners/partner-02.png", :alt => "partner-img") %>
                  </div>
                </div>
                <div class="slide">
                  <div class="partnersLogo clearfix">
                    <%= image_tag("home/partners/partner-03.png", :alt => "partner-img") %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/copyright' %>
      <%= render 'layouts/modal' %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>

</html>
