<!DOCTYPE html>
<html>
  <head>
    <!-- SITE TITTLE -->
    <%= render 'layouts/head' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header_index' %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/copyright' %>
    <%= render 'layouts/modal' %>
    <%= javascript_include_tag 'application' %> 
  </body>
</html>