locals: { taxonomies: @taxonomies }

<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#women">CATEGORIES<i class="fa fa-plus"></i></a>
          <ul id="women" class="collapse collapseItem">
            <li>
              <%= link_to "/potepan/categories/3" do %>
                <i class="fa fa-caret-right" aria-hidden="true"></i> Bags <span>(2)</span>
              <% end %>
            </li>
            <li>
              <%= link_to "/potepan/categories/4" do %>
                <i class="fa fa-caret-right" aria-hidden="true"></i> Mugs <span>(2)</span>
              <% end %>
            </li>
            <li>
              <%= link_to "/potepan/categories/5" do %>
                <i class="fa fa-caret-down" aria-hidden="true"></i> Clothing <span>(5)</span>
              <% end %>
              <li>
                <%= link_to "/potepan/categories/6" do %>
                  <i class="fa fa-caret-right" aria-hidden="true" style="padding-left: 15px;"></i> &emsp;Shirts <span>(1)</span>
                <% end %>
                <%= link_to "/potepan/categories/7" do %>
                  <i class="fa fa-caret-right" aria-hidden="true" style="padding-left: 15px;"></i> &emsp;T-Shirts <span>(4)</span>
                <% end %>
              </li>
            </li>
        </li>
      </ul>
      </li>
      <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#men">BRAND<i class="fa fa-plus"></i></a>
        <ul id="men" class="collapse collapseItem">
          <li>
            <%= link_to "/potepan/categories/8" do %>
              <i class="fa fa-caret-right" aria-hidden="true"></i> Ruby <span>(1)</span>
            <% end %>
          </li>
          <li>
            <%= link_to "/potepan/categories/9" do %>
              <i class="fa fa-caret-right" aria-hidden="true"></i> Apache <span>(1)</span>
            <% end %>
          </li>
          <li>
            <%= link_to "/potepan/categories/10" do %>
              <i class="fa fa-caret-right" aria-hidden="true"></i> Rails <span>(7)</span>
            <% end %>
          </li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</div>






  describe "GET #index" do
    # let(:products) { create(:products) }
    # let(:products) { create_list(:products, 10) }
    let(:products) { create(:products) }

    before do
      @ruby = create(:product, name: "ruby")
      @rails = create(:product, name: "rails")
      get :index, params: {}
    end

    it "returns http success" do
      expect(response).to have_http_status(:success)
    end

    it "renders index template" do
      expect(response).to render_template :/
    end

    it "assigns @products" do
      expect(assigns(:products)).to match_array([@ruby, @rails])
    end
  end


    <!-- PORDUCT QUICK VIEW MODAL -->
    <div class="modal fade quick-view" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="media">
              <div class="media-left">
                <%= image_tag("img/products/quick-view/quick-view-01.jpg", :class => "media-object", :alt => "Image") %>
              </div>
              <div class="media-body">
                <h2>Old Skool Navy</h2>
                <h3>149円</h3>
                <p>Classic sneaker from Vans. Cotton canvas and suede upper. Textile lining with heel stabilizer and ankle support. Contrasting laces. Sits on a classic waffle rubber sole.</p>
                <span class="quick-drop">
                  <select name="guiest_id3" id="guiest_id3" class="select-drop">
                    <option value="0">Size</option>
                    <option value="1">Size 1</option>
                    <option value="2">Size 2</option>
                    <option value="3">Size 3</option>
                  </select>
                </span>
                <span class="quick-drop resizeWidth">
                  <select name="guiest_id4" id="guiest_id4" class="select-drop">
                    <option value="0">Qty</option>
                    <option value="1">Qty 1</option>
                    <option value="2">Qty 2</option>
                    <option value="3">Qty 3</option>
                  </select>
                </span>
                <div class="btn-area">
                  <a href="#" class="btn btn-primary btn-block">Add to cart <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>