<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#women">CATEGORIES<i class="fa fa-plus"></i></a>
          <ul id="women" class="collapse collapseItem">
            <li>
              <%= link_to "/potepan/categories/3" do %>
              <i class="fa fa-caret-right" aria-hidden="true"></i> Bags <span>(2)</span></a>
              <% end %>
            </li>
            <li>
              <%= link_to "/potepan/categories/4" do %>
              <i class="fa fa-caret-right" aria-hidden="true"></i> Mugs <span>(2)</span></a>
              <% end %>
            </li>
            <li>
              <%= link_to "/potepan/categories/5" do %>
              <i class="fa fa-caret-down" aria-hidden="true"></i>Clothing <span>(5)</span></a>
              <% end %>
              <li>
                <%= link_to "/potepan/categories/6" do %>
                &emsp;Shirts <span>(1)</span></a>
                <% end %>
                <%= link_to "/potepan/categories/7" do %>
                &emsp;T-Shirts <span>(4)</span></a>
                <% end %>
              </li>
            </li>
        </li>
      </ul>
      </li>
      <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#men">BRAND<i class="fa fa-plus"></i></a>
        <ul id="men" class="collapse collapseItem">
          <li>
            <%= link_to "/potepan/categories/8" do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i> Ruby <span>(1)</span></a>
            <% end %>
          </li>
          <li>
            <%= link_to "/potepan/categories/9" do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i> Apache <span>(1)</span></a>
            <% end %>
          </li>
          <li>
            <%= link_to "/potepan/categories/10" do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i> Rails <span>(7)</span></a>
            <% end %>
          </li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</div>
