<div class="panel panel-default">
                <div class="panel-heading">商品カテゴリー</div>
                <div class="panel-body">
                  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                    <ul class="nav navbar-nav side-nav">
                      <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#women">CATEGORIES<i class="fa fa-plus"></i></a>
                        <ul id="women" class="collapse collapseItem">
                          <li>   
                          <%= link_to "/potepan/categories/3" do %>
                            Bags <span>()</span></a>
                          <% end %>
                          </li>
                          <li>
                          <%= link_to "/potepan/categories/4" do %>
                            Mugs <span>()</span></a>
                          <% end %>
                          </li>
                          <li>
                          <%= link_to "/potepan/categories/5" do %>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>Clothing <span>()</span></a>
                          <% end %>
                          <%= link_to "/potepan/categories/6" do %>
                            &emsp;Shirts <span>()</span></a>
                          <% end %>
                          <%= link_to "/potepan/categories/7" do %>
                            &emsp;T-Shirts <span>()</span></a>
                          <% end %>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#men">BRAND<i class="fa fa-plus"></i></a>
                        <ul id="men" class="collapse collapseItem">
                          <li>   
                          <%= link_to "/potepan/categories/8" do %>
                            Ruby <span>()</span></a>
                          <% end %>
                          </li>
                          <li>
                          <%= link_to "/potepan/categories/9" do %>
                            Apache <span>()</span></a>
                          <% end %>
                          </li>
                          <li>
                          <%= link_to "/potepan/categories/10" do %>
                            Rails <span>()</span></a>
                          <% end %>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>