<% provide(:title, @taxon.name)%>
<!-- LIGHT SECTION -->
<%= render partial: 'layouts/page_header', locals: { name: @taxon.name } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <%= render partial: 'product_category_sidebar', collection: @taxonomies, as: :taxonomy %>
              </ul>
            </div>
          </div>
        </div>
          <%= render partial: 'search_filter' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render partial: 'sorting_filter' %>
        <div class="row">
          <%= render partial: 'product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render partial: 'partners_logo' %>
