<div class="copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <p>&copy; 2017 Copyright Potepan Store .</p>
      </div>
      <div class="col-sm-5 col-xs-12">
        <ul class="list-inline">
            <li>
              <%= link_to 'https://twitter.com/?lang=ja' do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://ja-jp.facebook.com/' do %>
                <i class="fa fa-facebook"></i>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://dribbble.com/' do %>
                <i class="fa fa-dribbble"></i>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://vimeo.com/jp' do %>
                <i class="fa fa-vimeo"></i>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://www.tumblr.com/' do %>
                <i class="fa fa-tumblr"></i>
              <% end %>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>